/* As a user, I want a simple, clean looking UI so that my photo gallery clearly displays the images in a grid like pattern. */

/* 
Style your application using floats.

Utilize at least one Google font. */
*{
  box-sizing: border-box;
}