header{
  width: 100%;
  height: 100px;
  line-height: 60px;
  border: 3px solid black;
    }

  h1{
    text-align: center;
    font-size: 30px;
    font-family: rye;
    }

select{
  float: right;
}

main {
  max-width: 30%;
  height: auto;
  border: 1px solid black;
  float: left;
  
  }

footer{
  border: 3px solid black;
  width: 100%;
  height: 100px;
  text-align: center;
  clear: both;
}

  